/* You can add global styles to this file, and also import other style files */
*{
  color: white;
  -webkit-transition: all 2s ease;
  -moz-transition:    all 2s ease;
  -o-transition:      all 2s ease;
  transition:         all 2s ease;
  font-family: sans-serif;
  font-style: normal;
}

body{
  background: #373737 url('./maxresdefault.jpg') 100% 100% fixed;
}

#ar{
  padding-top: 1px;
  padding-bottom: 15px;
  background: rgba(0,0,0,0.5);
}

#container_TestComponent{
  width: 85%;
  margin: auto;
}


#container_EmpleadosComponent{
  width: 85%;
  margin: auto;
}

.blr{
  -webkit-filter: blur(3px);
  -moz-filter:    blur(3px);
  -o-filter:      blur(3px);
  -ms-filter:     blur(3px);
  filter:         blur(3px);
}
